.title{
    color:gray;
    margin-top: 10px;
    margin-bottom: 15px;
}

.avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: relative;
}

.fl{
    cursor: pointer;
    height: 48px;
    display: flex;
    
       border-radius: 12px;
     padding: 5px;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.fl:hover{
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
 
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.desc{
    overflow: hidden;
}

.name{
    font-size: 15px;
}

.msg{
    font-size: 10px;
}

.status{
    width: 9px;
    height: 9px;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    bottom:4%;
    right: 15%;
}

.time{
    font-size: 10px;
    color: gray;

}