.container{
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    position: relative;
}

.content{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
   position: absolute;
   padding: 30px;
   top:50%;
   left: 50%;
   transform:translate(-50%,-50%);
}

p{
    color:gray
}
h2{
    color:white
}

span{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(150, 150, 150);
    font-size: 11px;
    display: block;
    text-align: center;
}

.googleSign{
    display: flex;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    text-align: left;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.gicon{
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
    background-color: wheat;
   width: 45px;
   height: 35px;
   line-height: 40px;
    text-align: center;
    font-size: 1.2rem;
}

.gtext{
    width: 100%;
    text-align: center;
}

h6{
   
    color:white;
    display: inline;
    font-size: bold;
    
}

.signup{
    margin-top: 10px;
    cursor: pointer;;
    padding-left: 5px;
    font-weight: bold;
    font-size: 12px;
    display: inline;
    color:#52b69a;
}